<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weple.cloud.project.mapper.ProjectWorkLogMapper">

    <select id="selectProjectWorkLog"
        resultType="com.weple.cloud.history.worklog.service.WorkLogVO">
        SELECT * FROM (
            SELECT
                inner_q.*,
                ROWNUM AS rn
            FROM (
                SELECT
                    th.history_id,
                    u.user_name,
                    NVL(d_title.new_value, t.task_title) AS taskTitle,
                    NVL(d_type.new_value, tt.type_name)  AS typeName,
                    cc.default_describe AS taskStatus,
                    th.action_type,
                    th.action_at + INTERVAL '9' HOUR AS actionAt
                FROM task_history th
                INNER JOIN task t
                		ON th.task_id = t.task_id
                INNER JOIN users u
                		ON th.changed_by = u.user_code
                INNER JOIN task_types tt
                		ON t.type_id = tt.type_id
                LEFT JOIN task_history_detail d_title
				       ON th.history_id = d_title.history_id
				      AND d_title.field_name = 'task_title'
				LEFT JOIN task_history_detail d_type
				       ON th.history_id = d_type.history_id
				      AND d_type.field_name = 'type_name'
				LEFT JOIN common_code cc
				       ON t.task_status = cc.common_id
				      AND cc.common_code = '0E'
                <where>
                    t.project_id = #{projectId}
                    <if test="userCode != null and userCode != ''">
                        AND u.user_code = #{userCode}
                    </if>
                    <if test="startDate != null and startDate != ''">
                        AND th.action_at &gt;= TO_DATE(#{startDate}, 'YYYY.MM.DD') - INTERVAL '9' HOUR
                    </if>
                    <if test="endDate != null and endDate != ''">
                        AND th.action_at &lt; TO_DATE(#{endDate}, 'YYYY.MM.DD') + INTERVAL '1' DAY - INTERVAL '9' HOUR
                    </if>
                    <if test="typeNames != null and typeNames.size() > 0">
                        AND NVL(d_type.new_value, tt.type_name) IN
                        <foreach collection="typeNames" item="type" open="(" separator="," close=")">
                            #{type}
                        </foreach>
                    </if>
                </where>
                ORDER BY th.action_at DESC
            ) inner_q
            WHERE ROWNUM &lt;= #{offset} + #{pageSize}
        )
        WHERE rn > #{offset}
    </select>

    <select id="countProjectWorkLog" resultType="int">
        SELECT COUNT(*)
        FROM task_history th
        LEFT JOIN task t
        		ON th.task_id = t.task_id
        LEFT JOIN users u
        		ON th.changed_by = u.user_code
        LEFT JOIN task_types tt
        		ON t.type_id     = tt.type_id
        LEFT JOIN task_history_detail d_type
      			ON th.history_id = d_type.history_id
      			AND d_type.field_name = 'type_name'
        <where>
            t.project_id = #{projectId}
            <if test="userCode != null and userCode != ''">
                AND u.user_code = #{userCode}
            </if>
            <if test="startDate != null and startDate != ''">
                AND th.action_at &gt;= TO_DATE(#{startDate}, 'YYYY.MM.DD') - INTERVAL '9' HOUR
            </if>
            <if test="endDate != null and endDate != ''">
                AND th.action_at &lt; TO_DATE(#{endDate}, 'YYYY.MM.DD') + INTERVAL '1' DAY - INTERVAL '9' HOUR
            </if>
            <if test="typeNames != null and typeNames.size() > 0">
                AND NVL(d_type.new_value, tt.type_name) IN
                <foreach collection="typeNames" item="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
        </where>
    </select>

</mapper>