<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weple.cloud.project.mapper.ProjectMapper">
	<!-- 프로젝트 목록 전체조회 -->
	<select id="selectAll" resultType="com.weple.cloud.project.service.ProjectVO">
		SELECT
			p.project_id,
			p.project_title,
			p.project_describe,
			p.created_at,
			p.finish_date,
			c.default_describe AS status
		FROM project p
		LEFT OUTER JOIN common_code c
			ON p.status = c.common_id
			AND c.common_code = '0J'
		ORDER BY p.project_id
	</select>
</mapper>