<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="navbarFragment" class="sub_menu_nav" th:if="${currentMenu != 'none' and sidebarMenu != 'system'}">
    <ul>   
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b2')}"
        	th:classappend="${currentMenu == 'worklog'} ? 'active' : ''">
        	<a th:href="@{/project/worklog(projectId=${projectId})}">작업내역</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b3')}"
            th:classappend="${currentMenu == 'milestone'} ? 'active' : ''">
          <a th:href="@{/project/milestone(projectId=${projectId})}">마일스톤</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b4')}"
        	th:classappend="${currentMenu == 'task'} ? 'active' : ''">
        	<a th:href="@{/project/task(projectId=${projectId})}">일감</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b5')}"
        	th:classappend="${currentMenu == 'time'} ? 'active' : ''">
        	<a th:href="@{/projectTimeList(projectId=${projectId})}">소요시간</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b6')}">
        	<a href="#">간트차트</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b12')}">
        	<a href="#">테스트</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b7')}">
        	<a href="#">위키</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b13')}">
        	<a href="#">파일관리</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b8') and hasRepository}"
        	th:classappend="${currentMenu == 'repository'} ? 'active' : ''">
        	<a th:href="@{/repository/list(projectId=${projectId})}">저장소</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b9')}">
        	<a href="#">칸반보드</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b10')}">
        	<a href="#">캘린더</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b11')}">
          <a th:href="@{/repository/management(projectId=${projectId})}" th:class="${currentMenu == 'setting'} ? 'active' : ''">설정</a>
        </li>
    </ul>
</div>
</body>
</html>
