<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="navbarFragment" class="sub_menu_nav">
    <ul>
        <li class="active"><a href="#">개요</a></li>
        <li><a href="#">작업내역</a></li>
        <li><a href="#">마일스톤</a></li>
        <li th:classappend="${currentMenu == 'task'} ? 'active' : ''"><a th:href="@{/task}">일감</a></li>
        <li><a href="#">소요시간</a></li>
        <li><a href="#">간트차트</a></li>
        <li><a href="#">테스트</a></li>
        <li><a href="#">위키</a></li>
        <li><a href="#">파일관리</a></li>
        <li><a href="#">저장소</a></li>
        <li><a href="#">칸반보드</a></li>
        <li><a href="#">캘린더</a></li>
        <li><a href="#">설정</a></li>
    </ul>
</div>
</body>
</html>