<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="navbarFragment" class="sub_menu_nav" th:if="${currentMenu != null and currentMenu != 'none' and currentMenu != 'mypage' and sidebarMenu != 'system' and moduleNames != null and !#lists.isEmpty(moduleNames)}">
    <ul> 
    	<li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b1')}"
		    th:classappend="${currentMenu == 'outline'} ? 'active' : ''">
		    <a th:href="@{/project/outline(projectId=${projectId})}">개요</a>
		</li>
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b2')}"
        	th:classappend="${currentMenu == 'worklog'} ? 'active' : ''">
        	<a th:href="@{/project/worklog(projectId=${projectId})}">작업내역</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b3')}"
            th:classappend="${currentMenu == 'milestone'} ? 'active' : ''">
            <a th:href="@{/project/milestone(projectId=${projectId})}">로드맵</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b4')}"
        	th:classappend="${currentMenu == 'task'} ? 'active' : ''">
        	<a th:href="@{/project/task(projectId=${projectId})}">일감</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b5')}"
        	th:classappend="${currentMenu == 'time'} ? 'active' : ''">
        	<a th:href="@{/projectTimeList(projectId=${projectId})}">소요시간</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b6')}"
        	th:classappend="${currentMenu == 'gantt'} ? 'active' : ''">
            <a th:href="@{/project/gantt(projectId=${projectId})}">간트차트</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b12')}"
        	th:classappend="${currentMenu == 'testcase'} ? 'active' : ''">
        	<a th:href="@{/project/testcase(projectId=${projectId})}">테스트</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b7')}"
            th:classappend="${currentMenu == 'wiki'} ? 'active' : ''">
        	<a th:href="@{/project/wiki(projectId=${projectId})}">위키</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b13')}"
            th:classappend="${currentMenu == 'file'} ? 'active' : ''">
        	<a th:href="@{/project/{pid}/file/projectFileList(pid=${projectId})}">파일관리</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b8') and hasRepository}"
        	th:classappend="${currentMenu == 'repository'} ? 'active' : ''">
        	<a th:href="@{/repository/list(projectId=${projectId})}">저장소</a>
        </li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b9')}"
		    th:classappend="${currentMenu == 'kanban'} ? 'active' : ''">
		    <a th:href="@{/project/task/kanban(projectId=${projectId})}">칸반보드</a>
		</li>
        
        <li th:if="${moduleNames != null and #lists.contains(moduleNames, 'b10')}"
        	th:classappend="${currentMenu == 'calendar'} ? 'active' : ''">
        	<a th:href="@{/project/calendar(projectId=${projectId})}">캘린더</a>
        </li>
        
        <li th:classappend="${currentMenu == 'board'} ? 'active' : ''">
		    <a th:href="@{/board(projectId=${projectId})}">게시판</a>
		</li>
        
        <li th:if="${moduleNames != null 
		             and #lists.contains(moduleNames, 'b11') 
		             and (canSaveSetting == true or isCompanyManager == true)}"
		    th:classappend="${currentMenu == 'setting'} ? 'active' : ''">
		  <a th:href="@{/project/{id}/setting(id=${projectId})}">설정</a>
		</li>
    </ul>
</div>
</body>
</html>
