<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weple.cloud.system.mapper.SystemMapper">
	<select id="selectTaskTypeAll" resultType="TaskTypeVO">
		SELECT typeId
		     , companyId
		     , typeName
		     , taskTypeDescribe
		     , position
		FROM taskType
		ORDER BY position
	</select>

	<insert id="insertTaskType" parameterType="TaskTypeVO">
		<selectKey keyProperty="typeId" resultType="Integer" order="BEFORE">
		SELECT NVL(MAX(typeId), 0) + 1
		FROM taskType
		</selectKey>
		INSERT INTO taskType (
				taskType
			  , companyId
			  , typeName
			  , taskTypeDescribe
			  , position
		)
		VALUES (
				#{taskType}
			  , #{companyId}
			  , #{taypeName}
			  , #{taskTypeDescribe}
			  , #{position}
		)
	</insert>
</mapper>