<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weple.cloud.task.mapper.TaskMapper">
	<select id="selectAll" resultType="TaskVO"> 
		SELECT
			t.task_id AS taskId,
			p.project_title AS projectTitle,
			tt.type_name AS typeName,
			cc.default_describe AS defaultDescribe,
			t.priority AS priority,
			t.task_title AS taskTitle,
			t.task_progress AS taskProgress,
			u.user_name AS taskManager, 
			t.created_at AS createdAt,
			t.finish_date AS finishDate,
			t.project_id AS projectId
		FROM
			task t
		INNER JOIN
			project p ON t.project_id = p.project_id
		INNER JOIN
			task_types tt ON t.type_id = tt.type_id
		INNER JOIN
			common_code cc ON t.task_status = cc.common_id
		LEFT JOIN
			users u ON t.task_manager = u.user_code
		WHERE t.project_id = #{pId} AND deleted_yn ='N'
		ORDER BY createdAt DESC
	</select>
	<select id="taskTypes" resultType="TaskTypeListVO"> <!-- 일감등록 일감유형 목록 조회 -->
		SELECT
			type_id AS typeId,
			type_name AS typeName
		FROM task_types
		WHERE company_id = #{cId}
	</select>
	<select id="taskStatuses" resultType="TaskStatusVO"><!-- 일감등록 일감상태 목록 조회 -->
		SELECT 
			common_id AS commonId,
			default_describe AS defaultDescribe
		FROM
			common_code
		WHERE common_code = '0E'
	</select>
	<select id="taskMembers" resultType="TaskMemberVO"> <!-- 일감등록 현재 선택된 프로젝트 참여자 목록 조회 -->
		SELECT 
			u.user_code AS userCode,
			u.email AS email,
			u.user_name AS userName
		FROM members m
			INNER JOIN users u ON m.user_code = u.user_code
		WHERE m.project_id = #{pId} <!-- 추후에 선택된 프로젝트 id로 값 바뀌어야 함 -->
	</select>
	<select id="taskParents" resultType="TaskParentVO" ><!-- 일감등록 현재 선택된 프로젝트에 상위일감들의 목록 조회 -->
		SELECT 
			task_id AS taskId,
			task_title AS taskTitle
		FROM task
		WHERE parent_task_id IS NULL AND project_id = #{pId}
	</select>
	<select id="taskPriorities" resultType="TaskPriorityVO"><!-- 일감등록 등록된 우선순위 목록 -->
		SELECT 
			task_priority_id AS priorityId,
    		priority_name AS priorityName
		FROM task_priority
		WHERE company_id  = #{cId}  AND using_yn = 'Y'
	</select>
	<select id="taskMilestones" resultType="TaskMilestoneVO"><!-- 일감등록 마일스톤 목록 -->
		SELECT milestone_id, milestone_title
		FROM milestone
		WHERE project_id = #{pId} AND milestone_status = 'g1'
	</select>
	
<insert id="insertTask" parameterType="TaskVO">
    <selectKey keyProperty="taskId" resultType="string" order="BEFORE">
        SELECT 'TSK-' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || 
               (SELECT NVL(MAX(TO_NUMBER(SUBSTR(task_id, 12))), 0) + 1
                FROM task 
                WHERE task_id LIKE 'TSK-' || TO_CHAR(SYSDATE, 'YYMMDD') || '_%')
        FROM DUAL
    </selectKey>

    INSERT INTO task (
        task_id, task_title, task_describe, task_status, priority,
        task_manager, start_date, finish_date, estimated_time, task_progress,
        parent_task_id, spent_hours_sum, created_at, milestone_id, project_id,
        user_code, type_id
    ) VALUES (
        #{taskId}, 
        #{taskTitle}, 
        #{taskDescribe, jdbcType=VARCHAR}, 
        #{taskStatus}, 
        #{priority},
        #{taskManager, jdbcType=VARCHAR}, 
        #{startDate, jdbcType=DATE}, 
        #{finishDate, jdbcType=DATE},
        #{estimatedTime}, 
        #{taskProgress},
        (SELECT MAX(task_id) FROM task WHERE task_title = #{parentTaskTitle, jdbcType=VARCHAR}),
        0, 
        SYSDATE + 9/24, 
        #{milestoneId}, 
        #{projectId}, 
        #{userCode},
        (SELECT MAX(type_id) FROM task_types WHERE type_name = #{typeIdName, jdbcType=VARCHAR})
    )
</insert>

<resultMap id="taskDetailMap" type="TaskVO">
    <id property="taskId" column="taskId"/>
    <result property="taskTitle" column="taskTitle"/>
    <result property="taskDescribe" column="taskDescribe"/>
    <result property="taskStatus" column="taskStatus"/> <result property="priority" column="priority"/>
    <result property="taskManager" column="taskManager"/> <result property="startDate" column="startDate"/>
    <result property="finishDate" column="finishDate"/>
    <result property="estimatedTime" column="estimatedTime"/>
    <result property="taskProgress" column="taskProgress"/>
    <result property="parentTaskId" column="parentTaskId"/>
    <result property="spentHoursSum" column="spentHoursSum"/>
    <result property="createdAt" column="createdAt"/>
    <result property="updatedAt" column="updatedAt"/>
    <result property="milestoneTitle" column="milestoneTitle"/>
    <result property="projectId" column="projectId"/>
    <result property="taskWriter" column="taskWriter"/>
    <result property="typeIdName" column="typeIdName"/>
    <result property="milestoneId" column="milestoneId"/>
    <result property="parentTaskTitle" column="parentTaskTitle"/>
    <result property="taskStatusId" column="taskStatusId"/>
    <result property="taskManagerId" column="taskManagerId"/>
    
    <!-- 파일 리스트 -->
    <collection property="fileList" ofType="TaskFileVO">
    <result property="fileId" column="fileId"/>
        <result property="logicalName" column="logicalName"/>
        <result property="fileSize" column="fileSize"/>
        <result property="versionNumber" column="versionNumber"/> 
        <result property="uploadedAt" column="uploadedAt"/>
    </collection>
</resultMap>

<select id="taskDetail" resultMap="taskDetailMap">
	SELECT t.task_id AS taskId, 
       t.task_title AS taskTitle, 
       t.task_describe AS taskDescribe, 
       c.default_describe AS taskStatus,          
       t.task_status AS taskStatusId,             
       t.priority, 
       u_mgr.user_name AS taskManager,            
       t.task_manager AS taskManagerId,           
       t.start_date AS startDate, 
       t.finish_date AS finishDate, 
       t.estimated_time AS estimatedTime,
       t.task_progress AS taskProgress,
       t.parent_task_id AS parentTaskId,
       p.task_title AS parentTaskTitle,           
       t.spent_hours_sum AS spentHoursSum,
       t.created_at AS createdAt,
       t.updated_at AS updatedAt,
       t.milestone_id AS milestoneId,             
       m.milestone_title AS milestoneTitle,
       t.project_id AS projectId, 
       u_writer.user_name AS taskWriter,
       tt.type_name AS typeIdName,
       

       f.file_id AS fileId,
       f.logical_name AS logicalName,
       fv.version_number AS versionNumber,
       fv.file_size AS fileSize,
       fv.uploaded_at AS uploadedAt
       
  FROM task t
  	JOIN common_code c ON t.task_status = c.common_id
  	JOIN task_types tt ON t.type_id = tt.type_id
  	LEFT JOIN task p ON t.parent_task_id = p.task_id        
  	LEFT JOIN milestone m ON t.milestone_id = m.milestone_id
  	LEFT JOIN users u_mgr ON t.task_manager = u_mgr.user_code
  	LEFT JOIN users u_writer ON t.user_code = u_writer.user_code
  
  	LEFT JOIN files f 
        ON t.task_id = f.task_id 
        AND f.is_deleted = 'N'
        
  	LEFT JOIN (
      SELECT file_id, 
             version_number, 
             file_size, 
             uploaded_at,
             ROW_NUMBER() OVER (PARTITION BY file_id ORDER BY version_number DESC) AS rn
        FROM file_versions
  		) fv 
         	ON f.file_id = fv.file_id 
        	AND fv.rn = 1
 	WHERE t.task_id = #{tId}
</select>
	<select id="childTask" resultType="TaskVO">			
		SELECT task_title , task_id
		FROM task
		WHERE parent_task_id = #{tId}
	</select>
	<select id="selectAllList" resultType="TaskVO"> 
		SELECT
			p.project_title AS projectTitle,
			tt.type_name AS typeName,
			cc.default_describe AS defaultDescribe,
			t.priority AS priority,
			t.task_title AS taskTitle,
			t.task_progress AS taskProgress,
			u.user_name AS taskManager, 
			t.created_at AS createdAt,
			t.finish_date AS finishDate
		FROM
			task t
		INNER JOIN
			project p ON t.project_id = p.project_id
		INNER JOIN
			task_types tt ON t.type_id = tt.type_id
		INNER JOIN
			common_code cc ON t.task_status = cc.common_id
		LEFT JOIN
			users u ON t.task_manager = u.user_code
		WHERE t.task_manager = #{tManager} AND deleted_yn ='N'
		ORDER BY createdAt DESC
	</select>
	<select id="myAllTasks" resultType="TaskProjectSelectVO">
		SELECT 
			m.project_id , p.project_title
		FROM 
			members m JOIN project p ON m.project_id = p.project_id
		WHERE m.user_code = #{uCode} AND deleted_yn ='N'
	</select>
	
	
	
<update id="updateTask" parameterType="TaskVO">
    UPDATE task
       SET type_id = (SELECT MAX(type_id) FROM task_types WHERE type_name = #{typeIdName, jdbcType=VARCHAR}),
           task_title = #{taskTitle},
           task_describe = #{taskDescribe, jdbcType=VARCHAR},
           task_status = #{taskStatus},
           priority  = #{priority},
           task_manager = #{taskManager, jdbcType=VARCHAR},
           start_date = #{startDate, jdbcType=DATE},
           finish_date = #{finishDate, jdbcType=DATE},
           estimated_time = #{estimatedTime},
           task_progress = #{taskProgress},
           milestone_id = #{milestoneId, jdbcType=VARCHAR},
           updated_at = SYSDATE + 9/24,
           parent_task_id = #{parentTaskId, jdbcType=VARCHAR}
     WHERE task_id = #{taskId}
</update>

<update id="deleteTask">
    UPDATE task
       SET deleted_yn = 'Y'
     WHERE task_id = #{tId}
</update>

<select id="taskCommentList" resultType="TaskCommentVO">
	SELECT tc.comment_id AS commentId ,
        tc.task_id taskId,
        tc.parent_comment_id parentCommentId,
        tc.user_code userCode,
        u.user_name userName,
        u.profile_image profileImage,
        tc.task_comment taskComment,
        tc.created_at AS createdAt
	FROM task_comment tc JOIN users u ON tc.user_code = u.user_code
	WHERE task_id = #{tId}
	ORDER BY tc.comment_id ASC
</select>


<select id="getMilestoneIdByTaskId" resultType="Long">
	SELECT milestone_id 
	FROM task 
	WHERE task_id = #{tId}
</select>

</mapper>