<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weple.cloud.task.mapper.TaskMapper">
	<select id="selectAll" resultType="TaskVO"> 
		SELECT
			t.task_id AS taskId,
			p.project_title AS projectTitle,
			tt.type_name AS typeName,
			cc.default_describe AS defaultDescribe,
			t.priority AS priority,
			t.task_title AS taskTitle,
			t.task_progress AS taskProgress,
			u.user_name AS taskManager, 
			t.created_at AS createdAt,
			t.finish_date AS finishDate,
			t.project_id AS projectId,
			t.estimated_time AS estimatedTime
		FROM
			task t
		INNER JOIN
			project p ON t.project_id = p.project_id
		INNER JOIN
			task_types tt ON t.type_id = tt.type_id
		INNER JOIN
			common_code cc ON t.task_status = cc.common_id
		LEFT JOIN
			users u ON t.task_manager = u.user_code
		WHERE t.project_id = #{pId} AND t.deleted_yn ='N'
		ORDER BY createdAt DESC
	</select>
	<select id="taskTypes" resultType="TaskTypeListVO"> <!-- 일감등록 일감유형 목록 조회 -->
		SELECT
			type_id AS typeId,
			type_name AS typeName
		FROM task_types
		WHERE company_id = #{cId}
	</select>
	<select id="taskStatuses" resultType="TaskStatusVO"><!-- 일감등록 일감상태 목록 조회 -->
		SELECT 
			common_id AS commonId,
			default_describe AS defaultDescribe
		FROM
			common_code
		WHERE common_code = '0E'
	</select>
	<select id="taskMembers" resultType="TaskMemberVO"> <!-- 일감등록 현재 선택된 프로젝트 참여자 목록 조회 -->
		SELECT 
			u.user_code AS userCode,
			u.email AS email,
			u.user_name AS userName
		FROM members m
			INNER JOIN users u ON m.user_code = u.user_code
		WHERE m.project_id = #{pId} 
	</select>
	<select id="taskParents" resultType="TaskParentVO" ><!-- 일감등록 현재 선택된 프로젝트에 상위일감들의 목록 조회 -->
		SELECT 
			task_id AS taskId,
			task_title AS taskTitle
		FROM task
		WHERE project_id = #{pId}
	</select>
	<select id="taskPriorities" resultType="TaskPriorityVO"><!-- 일감등록 등록된 우선순위 목록 -->
		SELECT 
			task_priority_id AS priorityId,
    		priority_name AS priorityName
		FROM task_priority
		WHERE company_id  = #{cId}  AND using_yn = 'Y'
	</select>
	<select id="taskMilestones" resultType="TaskMilestoneVO"><!-- 일감등록 마일스톤 목록 -->
		SELECT milestone_id, milestone_title
		FROM milestone
		WHERE project_id = #{pId} AND milestone_status = 'g1' AND parent_milestone_id IS NOT NULL
	</select>
	<select id="projectPeriod" resultType ="TaskProjectSelectVO">
		SELECT
			project_id AS projectId, 
			start_date AS startDate,
			finish_date AS finishDate
		FROM project
		WHERE project_id = #{pId}
	</select>
	
<insert id="insertTask" parameterType="TaskVO">
    <selectKey keyProperty="taskId" resultType="string" order="BEFORE">
        SELECT 'TSK-' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || 
               (SELECT NVL(MAX(TO_NUMBER(SUBSTR(task_id, 12))), 0) + 1
                FROM task 
                WHERE task_id LIKE 'TSK-' || TO_CHAR(SYSDATE, 'YYMMDD') || '_%')
        FROM DUAL
    </selectKey>

    INSERT INTO task (
        task_id, task_title, task_describe, task_status, priority,
        task_manager, start_date, finish_date, estimated_time, task_progress,
        parent_task_id, spent_hours_sum, created_at, milestone_id, project_id,
        user_code, type_id
    ) VALUES (
        #{taskId}, 
        #{taskTitle}, 
        #{taskDescribe, jdbcType=VARCHAR}, 
        #{taskStatus}, 
        #{priority},
        #{taskManager, jdbcType=VARCHAR}, 
        #{startDate, jdbcType=DATE},
        #{finishDate, jdbcType=DATE},
        #{estimatedTime}, 
        #{taskProgress},
        (SELECT MAX(task_id) FROM task WHERE task_title = #{parentTaskTitle, jdbcType=VARCHAR}),
        0, 
        SYSDATE, 
        #{milestoneId}, 
        #{projectId}, 
        #{userCode},
        (SELECT MAX(type_id) FROM task_types WHERE type_name = #{typeIdName, jdbcType=VARCHAR})
    )
</insert>

<!-- 상세조회 -->
<!-- 해당 일감아이디의 상세조회 값과 삭제되지 않은 파일목록 + 최신버전 조회 -->
<resultMap id="taskDetailMap" type="TaskVO">
    <id property="taskId" column="taskId"/>
    <result property="taskTitle" column="taskTitle"/>
    <result property="taskDescribe" column="taskDescribe"/>
    <result property="taskStatus" column="taskStatus"/> 
    <result property="priority" column="priority"/>
    <result property="taskManager" column="taskManager"/> 
    <result property="startDate" column="startDate"/>
    <result property="finishDate" column="finishDate"/>
    <result property="estimatedTime" column="estimatedTime"/>
    <result property="taskProgress" column="taskProgress"/>
    <result property="parentTaskId" column="parentTaskId"/>
    <result property="spentHoursSum" column="spentHoursSum"/>
    <result property="createdAt" column="createdAt"/>
    <result property="updatedAt" column="updatedAt"/>
    <result property="milestoneTitle" column="milestoneTitle"/>
    <result property="projectId" column="projectId"/>
    <result property="taskWriter" column="taskWriter"/>
    <result property="typeIdName" column="typeIdName"/>
    <result property="milestoneId" column="milestoneId"/>
    <result property="parentTaskTitle" column="parentTaskTitle"/>
    <result property="taskStatusId" column="taskStatusId"/>
    <result property="taskManagerId" column="taskManagerId"/>

    <!-- 파일 리스트 -->
    <collection property="fileList" ofType="TaskFileVO">
    <result property="fileId" column="fileId"/>
    <result property="versionId" column="versionId"/>
        <result property="logicalName" column="logicalName"/>
        <result property="fileSize" column="fileSize"/>
        <result property="versionNumber" column="versionNumber"/> 
        <result property="uploadedAt" column="uploadedAt"/>
    </collection>
</resultMap>

<select id="taskDetail" resultMap="taskDetailMap">
	SELECT t.task_id AS taskId, 
       t.task_title AS taskTitle, 
       t.task_describe AS taskDescribe, 
       c.default_describe AS taskStatus,          
       t.task_status AS taskStatusId,             
       t.priority, 
       u_mgr.user_name AS taskManager,            
       t.task_manager AS taskManagerId,           
       t.start_date AS startDate, 
       t.finish_date AS finishDate, 
       t.estimated_time AS estimatedTime,
       t.task_progress AS taskProgress,
       t.parent_task_id AS parentTaskId,
       p.task_title AS parentTaskTitle,           
       t.spent_hours_sum AS spentHoursSum,
       t.created_at AS createdAt,
       t.updated_at AS updatedAt,
       t.milestone_id AS milestoneId,             
       m.milestone_title AS milestoneTitle,
       t.project_id AS projectId, 
       u_writer.user_name AS taskWriter,
       tt.type_name AS typeIdName,
       
       f.file_id AS fileId,
       
       fv.version_id AS versionId,
       
       f.logical_name AS logicalName,
       fv.version_number AS versionNumber,
       fv.file_size AS fileSize,
       fv.uploaded_at AS uploadedAt
       
  FROM task t
  	JOIN common_code c ON t.task_status = c.common_id
  	JOIN task_types tt ON t.type_id = tt.type_id
  	LEFT JOIN task p ON t.parent_task_id = p.task_id        
  	LEFT JOIN milestone m ON t.milestone_id = m.milestone_id
  	LEFT JOIN users u_mgr ON t.task_manager = u_mgr.user_code
  	LEFT JOIN users u_writer ON t.user_code = u_writer.user_code
  
  	LEFT JOIN files f 
        ON t.task_id = f.task_id 
        AND f.is_deleted = 'N'
        
  	LEFT JOIN (
      SELECT version_id,  file_id, 
             version_number, 
             file_size, 
             uploaded_at,
             ROW_NUMBER() OVER (PARTITION BY file_id ORDER BY version_number DESC) AS rn
        FROM file_versions
  		) fv 
         	ON f.file_id = fv.file_id 
        	AND fv.rn = 1
 	WHERE t.task_id = #{tId}
</select>
<!-- 자식 일감 리스트 -->
<select id="childTask" resultType="TaskVO">			
	SELECT task_title , task_id
	FROM task
	WHERE parent_task_id = #{tId}
</select>

<!-- 일감 상세조회 테스트케이스 목록 -->
<select id="taskTestCaseList" resultType="TaskTestCaseDTO">
	SELECT tc.test_id , tc.test_name
	FROM task t JOIN test_case tc ON t.task_id = tc.task_id
	WHERE t.task_id = #{tId} AND t.project_id = #{pId}
</select>

<!-- 관리자 전체 일감 목록 + 검색조건 포함-->
<select id="selectAllList" parameterType="map" resultType="TaskVO"> 
    SELECT
        t.task_id AS taskId,        
        t.project_id AS projectId,  
        p.project_title AS projectTitle,
        tt.type_name AS typeName,
        cc.default_describe AS defaultDescribe,
        t.priority AS priority,
        t.task_title AS taskTitle,
        t.task_progress AS taskProgress,
        u.user_name AS taskManager, 
        t.created_at AS createdAt,
        t.finish_date AS finishDate
    FROM
        task t
    INNER JOIN
        project p ON t.project_id = p.project_id
    INNER JOIN
        task_types tt ON t.type_id = tt.type_id
    INNER JOIN
        common_code cc ON t.task_status = cc.common_id
    LEFT JOIN
        users u ON t.task_manager = u.user_code
    <where>
        t.deleted_yn = 'N'

        <if test="searchKeyword != null and searchKeyword != ''">
            AND t.task_title LIKE '%' || #{searchKeyword} || '%'
        </if>

        <if test="projectIds != null and projectIds.size() > 0">
            AND t.project_id IN
            <foreach collection="projectIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

        <if test="typeIds != null and typeIds.size() > 0">
            AND t.type_id IN
            <foreach collection="typeIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

        <if test="statusIds != null and statusIds.size() > 0">
            AND t.task_status IN
            <foreach collection="statusIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

        <if test="priorityNames != null and priorityNames.size() > 0">
            AND t.priority IN
            <foreach collection="priorityNames" item="name" open="(" separator="," close=")">
                #{name}
            </foreach>
        </if>

        <if test="memberIds != null and memberIds.size() > 0">
            AND t.task_manager IN
            <foreach collection="memberIds" item="mId" open="(" separator="," close=")">
                #{mId}
            </foreach>
        </if>

        <if test="progress != null and progress.size() > 0">
            AND (
            <foreach collection="progress" item="prog" separator=" OR ">
                <choose>
                    <when test='prog == "0"'> t.task_progress = 0 </when>
                    <when test='prog == "1-25"'> t.task_progress BETWEEN 1 AND 25 </when>
                    <when test='prog == "26-50"'> t.task_progress BETWEEN 26 AND 50 </when>
                    <when test='prog == "51-75"'> t.task_progress BETWEEN 51 AND 75 </when>
                    <when test='prog == "76-100"'> t.task_progress BETWEEN 76 AND 100 </when>
                </choose>
            </foreach>
            )
        </if>

        <if test="regDate != null and regDate.size() > 0">
            AND (
            <foreach collection="regDate" item="dateType" separator=" OR ">
                <choose>
                    <when test="dateType == 'today'"> 
                        TRUNC(t.created_at) = TRUNC(SYSDATE) 
                    </when>
                    <when test="dateType == 'thisWeek'"> 
                        TRUNC(t.created_at, 'IW') = TRUNC(SYSDATE, 'IW') 
                    </when>
                    <when test="dateType == 'thisMonth'"> 
                        TRUNC(t.created_at, 'MM') = TRUNC(SYSDATE, 'MM') 
                    </when>
                </choose>
            </foreach>
            )
        </if>
        
        <if test="dueDate != null and dueDate.size() > 0">
            AND (
            <foreach collection="dueDate" item="dateType" separator=" OR ">
                <choose>
                    <when test="dateType == 'today'"> 
                        TRUNC(t.finish_date) = TRUNC(SYSDATE) 
                    </when>
                    <when test="dateType == 'thisWeek'"> 
                        TRUNC(t.finish_date, 'IW') = TRUNC(SYSDATE, 'IW') 
                    </when>
                    <when test="dateType == 'thisMonth'"> 
                        TRUNC(t.finish_date, 'MM') = TRUNC(SYSDATE, 'MM') 
                    </when>
                </choose>
            </foreach>
            )
        </if>
    </where>
    ORDER BY t.created_at DESC
</select>
<!-- 본인이 구성원으로 등록된 모든 프로젝트 -->
<select id="myAllTasks" resultType="TaskProjectSelectVO">
	SELECT 
		m.project_id , p.project_title
	FROM 
		members m JOIN project p ON m.project_id = p.project_id
	WHERE m.user_code = #{uCode}
</select>
	
	
	
<update id="updateTask" parameterType="TaskVO">
    UPDATE task
       SET type_id = (SELECT MAX(type_id) FROM task_types WHERE type_name = #{typeIdName, jdbcType=VARCHAR}),
           task_title = #{taskTitle},
           task_describe = #{taskDescribe, jdbcType=VARCHAR},
           task_status = #{taskStatus},
           priority  = #{priority},
           task_manager = #{taskManager, jdbcType=VARCHAR},
           start_date = #{startDate, jdbcType=DATE},
           finish_date = #{finishDate, jdbcType=DATE},
           estimated_time = #{estimatedTime},
           task_progress = #{taskProgress},
           milestone_id = #{milestoneId, jdbcType=VARCHAR},
           updated_at = SYSDATE,
           parent_task_id = #{parentTaskId, jdbcType=VARCHAR}
     WHERE task_id = #{taskId}
</update>

<update id="deleteTask">
    UPDATE task
       SET deleted_yn = 'Y'
     WHERE task_id = #{tId}
</update>

<!-- 댓글 목록 -->
<select id="taskCommentList" resultType="TaskCommentVO">
	SELECT tc.comment_id AS commentId ,
        tc.task_id taskId,
        tc.parent_comment_id parentCommentId,
        tc.user_code userCode,
        u.email,
        u.user_name userName,
        u.profile_image profileImage,
        tc.task_comment taskComment,
        tc.created_at AS createdAt
	FROM task_comment tc LEFT JOIN users u ON tc.user_code = u.user_code
	WHERE task_id = #{tId}
	ORDER BY tc.comment_id ASC
</select>


<select id="getMilestoneIdByTaskId" resultType="Long">
	SELECT milestone_id 
	FROM task 
	WHERE task_id = #{tId}
</select>

<!--
댓글 아이디 자동 시퀀스 + pl sql 
CREATE SEQUENCE task_comment_seq START WITH 1
INCREMENT BY 1   
NOCACHE    
NOCYCLE;

task_comment에 insert 하기 전에 실행하는 행을 기준으로 comment_id가 null이면 nextval 넣음
CREATE OR REPLACE TRIGGER task_comment_pk
BEFORE INSERT ON task_comment
FOR EACH ROW
BEGIN
  IF :NEW.comment_id IS NULL THEN
    :NEW.comment_id := task_comment_seq.NEXTVAL;
  END IF;
END;
/
 -->


<insert id="insertTaskComment" parameterType="TaskCommentVO">
    INSERT INTO task_comment (
        task_id, 
        parent_comment_id,
        task_comment, 
        user_code, 
        created_at
    ) VALUES (
        #{taskId}, 
        #{parentCommentId}, 
        #{taskComment}, 
        #{userCode},
        SYSDATE
    )
</insert>

<update id="updateTaskComment" parameterType="TaskCommentVO">
    UPDATE task_comment
    SET 
        task_comment = #{taskComment}
    WHERE 
        comment_id = #{commentId}
        AND user_code = #{userCode} 
</update>

<update id="deleteTaskComment">
    UPDATE task_comment
    SET 
        task_comment = '삭제된 댓글입니다.',
        user_code = NULL
    WHERE 
        comment_id = #{commentId}
</update>
<!-- 항목변경 이력 조회 -->
<select id = "taskUpdateHistory">
	SELECT 
		th.history_id AS historyId,
		th.action_type AS actionType,
    	u.user_name AS userName,
   	 	action_at AS actionAt,
    	field_name AS fieldName,
    	old_value AS oldValue,
    	new_value AS newValue
	FROM task_history th 
    	JOIN task_history_detail thd 
        	ON th.history_id = thd.history_id
    	JOIN users u
        	ON th.changed_by = u.user_code
	WHERE th.task_id = #{tId}
	ORDER BY th.action_at
</select>
<!-- 소요시간 목록 조회 -->
<select id="taskSpentTime">
	SELECT 
    	wt.created_at AS createdAt,
    	u.user_name AS userName,
    	wt.spent_content AS spentContent,
    	wt.spent_hour AS spentHour
	FROM 
		work_time wt LEFT JOIN users u ON wt.user_code = u.user_code
	WHERE task_id = #{tId}
</select>
<!--  -->
<sql id="internalTaskConditions">
    <where>
        t.project_id = #{projectId} 
        AND t.deleted_yn = 'N'

        <if test="searchKeyword != null and searchKeyword != ''">
            AND t.task_title LIKE '%' || #{searchKeyword} || '%'
        </if>
        <if test="typeIds != null and typeIds.size() > 0">
            AND t.type_id IN
            <foreach collection="typeIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="statusIds != null and statusIds.size() > 0">
            AND t.task_status IN
            <foreach collection="statusIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="priorityNames != null and priorityNames.size() > 0">
            AND t.priority IN
            <foreach collection="priorityNames" item="name" open="(" separator="," close=")">
                #{name}
            </foreach>
        </if>
        <if test="memberIds != null and memberIds.size() > 0">
            AND t.task_manager IN
            <foreach collection="memberIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="progress != null and progress.size() > 0">
            AND (
            <foreach collection="progress" item="prog" separator=" OR ">
                <choose>
                    <when test='prog == "0"'> t.task_progress = 0 </when>
                    <when test='prog == "1-25"'> t.task_progress BETWEEN 1 AND 25 </when>
                    <when test='prog == "26-50"'> t.task_progress BETWEEN 26 AND 50 </when>
                    <when test='prog == "51-75"'> t.task_progress BETWEEN 51 AND 75 </when>
                    <when test='prog == "76-100"'> t.task_progress BETWEEN 76 AND 100 </when>
                </choose>
            </foreach>
            )
        </if>
        <if test="regDate != null and regDate.size() > 0">
            AND (
            <foreach collection="regDate" item="dateType" separator=" OR ">
                <choose>
                    <when test="dateType == 'today'"> TRUNC(t.created_at) = TRUNC(SYSDATE) </when>
                    <when test="dateType == 'thisWeek'"> TRUNC(t.created_at, 'IW') = TRUNC(SYSDATE, 'IW') </when>
                    <when test="dateType == 'thisMonth'"> TRUNC(t.created_at, 'MM') = TRUNC(SYSDATE, 'MM') </when>
                </choose>
            </foreach>
            )
        </if>
        <if test="dueDate != null and dueDate.size() > 0">
            AND (
            <foreach collection="dueDate" item="dateType" separator=" OR ">
                <choose>
                    <when test="dateType == 'today'"> TRUNC(t.finish_date) = TRUNC(SYSDATE) </when>
                    <when test="dateType == 'thisWeek'"> TRUNC(t.finish_date, 'IW') = TRUNC(SYSDATE, 'IW') </when>
                    <when test="dateType == 'thisMonth'"> TRUNC(t.finish_date, 'MM') = TRUNC(SYSDATE, 'MM') </when>
                </choose>
            </foreach>
            )
        </if>
    </where>
</sql>
<!-- 검색창 입력 일감명  검색조건 -->
<sql id="taskSearchConditions">
        <where>
            <if test="projectId != null">
                AND PROJECT_ID = #{projectId}
            </if>
            <if test="searchKeyword != null and searchKeyword != ''">
                AND TASK_TITLE LIKE '%' || #{searchKeyword} || '%'
            </if>
            </where>
    </sql>



<!-- 프로젝트 내부 일감 검색필터 포함 조회 -->
<select id="findAllWithFilters" parameterType="map" resultType="TaskVO">
    SELECT * FROM (
        SELECT a.*, ROWNUM rnum FROM (
            SELECT
                t.task_id AS taskId, p.project_title AS projectTitle, tt.type_name AS typeName,
                cc.default_describe AS defaultDescribe, t.priority AS priority, t.task_title AS taskTitle,
                t.task_progress AS taskProgress, u.user_name AS taskManager, t.created_at AS createdAt,
                t.finish_date AS finishDate, t.project_id AS projectId, t.task_manager AS taskManagerId
            FROM task t
            INNER JOIN project p ON t.project_id = p.project_id
            INNER JOIN task_types tt ON t.type_id = tt.type_id
            INNER JOIN common_code cc ON t.task_status = cc.common_id
            LEFT JOIN users u ON t.task_manager = u.user_code
            <include refid="internalTaskConditions" />
            ORDER BY t.created_at DESC
        ) a WHERE ROWNUM <![CDATA[ <= ]]> (#{offset} + #{limit})
    ) WHERE rnum <![CDATA[ > ]]> #{offset}
</select>

<!-- 사용자의 일감 검색조건 필터-->
<sql id="myTaskConditions">
    <where>
        t.deleted_yn = 'N'

        <if test="isAdminOrOwner == null or !isAdminOrOwner">
            AND t.task_manager = #{tManager}
        </if>
        
        <if test="isAdminOrOwner == true and memberIds != null and memberIds.size() > 0">
            AND t.task_manager IN
            <foreach collection="memberIds" item="mId" open="(" separator="," close=")">
                #{mId}
            </foreach>
        </if>

        <if test="searchKeyword != null and searchKeyword != ''">
            AND t.task_title LIKE '%' || #{searchKeyword} || '%'
        </if>
        <if test="projectIds != null and projectIds.size() > 0">
            AND t.project_id IN
            <foreach collection="projectIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="typeIds != null and typeIds.size() > 0">
            AND t.type_id IN
            <foreach collection="typeIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="statusIds != null and statusIds.size() > 0">
            AND t.task_status IN
            <foreach collection="statusIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="priorityNames != null and priorityNames.size() > 0">
            AND t.priority IN
            <foreach collection="priorityNames" item="name" open="(" separator="," close=")">
                #{name}
            </foreach>
        </if>
        <if test="progress != null and progress.size() > 0 and progress[0] != ''">
            AND (
            <foreach collection="progress" item="prog" separator=" OR ">
                <choose>
                    <when test="prog != null and prog.equals('0')"> t.task_progress = 0 </when>
                    <when test="prog != null and prog.equals('1-25')"> t.task_progress BETWEEN 1 AND 25 </when>
                    <when test="prog != null and prog.equals('26-50')"> t.task_progress BETWEEN 26 AND 50 </when>
                    <when test="prog != null and prog.equals('51-75')"> t.task_progress BETWEEN 51 AND 75 </when>
                    <when test="prog != null and prog.equals('76-100')"> t.task_progress BETWEEN 76 AND 100 </when>
                    <otherwise> 1=0 </otherwise> </choose>
            </foreach>
            )
        </if>

        <if test="regDate != null and regDate.size() > 0 and regDate[0] != ''">
            AND (
            <foreach collection="regDate" item="dateType" separator=" OR ">
                <choose>
                    <when test="dateType != null and dateType.equals('today')"> TRUNC(t.created_at) = TRUNC(SYSDATE) </when>
                    <when test="dateType != null and dateType.equals('thisWeek')"> TRUNC(t.created_at, 'IW') = TRUNC(SYSDATE, 'IW') </when>
                    <when test="dateType != null and dateType.equals('thisMonth')"> TRUNC(t.created_at, 'MM') = TRUNC(SYSDATE, 'MM') </when>
                    <otherwise> 1=0 </otherwise>
                </choose>
            </foreach>
            )
        </if>

        <if test="dueDate != null and dueDate.size() > 0 and dueDate[0] != ''">
            AND (
            <foreach collection="dueDate" item="dateType" separator=" OR ">
                <choose>
                    <when test="dateType != null and dateType.equals('today')"> TRUNC(t.finish_date) = TRUNC(SYSDATE) </when>
                    <when test="dateType != null and dateType.equals('thisWeek')"> TRUNC(t.finish_date, 'IW') = TRUNC(SYSDATE, 'IW') </when>
                    <when test="dateType != null and dateType.equals('thisMonth')"> TRUNC(t.finish_date, 'MM') = TRUNC(SYSDATE, 'MM') </when>
                    <otherwise> 1=0 </otherwise>
                </choose>
            </foreach>
            )
        </if>
        </where>
</sql>
<!-- 전체일감 검색필터 포함 조회 -->
<select id="findAllMyTasksWithFilters" parameterType="map" resultType="TaskVO">
    SELECT * FROM (
        SELECT a.*, ROWNUM rnum FROM (
            SELECT
                t.task_id AS taskId, t.project_id AS projectId, p.project_title AS projectTitle,
                tt.type_name AS typeName, cc.default_describe AS defaultDescribe, t.priority AS priority,
                t.task_title AS taskTitle, t.task_progress AS taskProgress, u.user_name AS taskManager, 
                t.created_at AS createdAt, t.finish_date AS finishDate
            FROM task t
            INNER JOIN project p ON t.project_id = p.project_id
            INNER JOIN task_types tt ON t.type_id = tt.type_id
            INNER JOIN common_code cc ON t.task_status = cc.common_id
            LEFT JOIN users u ON t.task_manager = u.user_code
            
            <include refid="myTaskConditions" />
            
            ORDER BY t.created_at DESC
        ) a WHERE ROWNUM &lt;= (#{offset} + #{limit})
    ) WHERE rnum &gt; #{offset}
</select>
  <!-- 소요시간의 진척도 자동계산 프로시저 - 민지 -->
<update id="updateHierarchicalProgress" statementType="CALLABLE" parameterType="string">
    { CALL UPDATE_PROGRESS_HIERARCHY(#{taskId}) }
</update>

<!-- 소요시간 등록/수정 시 입력한 진척도를 일감에 직접 반영 -민지- -->
<update id="updateTaskProgress">
    UPDATE task
       SET task_progress = #{progress}
     WHERE task_id = #{taskId}
</update>

<!-- 활성화 상태인 담당자 전체 목록 -->
<select id="allMemberList" resultType="TaskMemberVO">
	SELECT 
    	u.user_code AS userCode,
    	u.email AS email,
    	u.user_name AS userName
	FROM users u
	WHERE u.status = 'a2'
  		AND EXISTS (
      	SELECT 1 
      	FROM task t 
      	WHERE t.task_manager = u.user_code
        	AND t.deleted_yn = 'N'
  		)
	ORDER BY u.user_name ASC
</select>
<!-- 프로젝트의 사용자가 가진 일감 권한 조회 -->
<select id="checkTaskPermissions" resultType="TaskPermissionVO">
    SELECT
        MAX(CASE WHEN rp.permission_code = 'k3_add' THEN 'k3_add' END) AS k3Add,
        MAX(CASE WHEN rp.permission_code = 'k3_edit' THEN 'k3_edit' END) AS k3Edit,
        MAX(CASE WHEN rp.permission_code = 'k3_delete' THEN 'k3_delete' END) AS k3Delete,
        MAX(CASE WHEN rp.permission_code = 'k3_myedit' THEN 'k3_myedit' END) AS k3Myedit,
        MAX(CASE WHEN rp.permission_code = 'k3_comment' THEN 'k3_comment' END) AS k3Comment
    FROM members m
    JOIN member_roles mr ON m.member_id = mr.member_id
    JOIN roles r ON mr.role_id = r.role_id
    JOIN role_permissions rp ON r.role_id = rp.role_id
    WHERE m.user_code = #{userCode}

    <if test="pId != null">
        AND m.project_id = #{pId}
    </if>

    AND rp.permission_code IN ('k3_add', 'k3_edit', 'k3_delete', 'k3_myedit', 'k3_comment')
</select>
<!-- 사용자의 페이징될 일감 갯수 -->
<select id="countAllMyTasksWithFilters" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM task t
    <include refid="myTaskConditions" />
</select>
<!-- 검색에 대한 일감전체 갯수 -->
<select id="countAllWithFilters" resultType="int" parameterType="map">
    SELECT COUNT(*)
    FROM task t
    INNER JOIN project p ON t.project_id = p.project_id
    INNER JOIN task_types tt ON t.type_id = tt.type_id
    INNER JOIN common_code cc ON t.task_status = cc.common_id
    LEFT JOIN users u ON t.task_manager = u.user_code
    <include refid="internalTaskConditions" />
</select>
   
<!-- 관리자의 페이징 10개씩  -->
<select id="findAllList" parameterType="map" resultType="TaskVO">
    SELECT * FROM (
        SELECT a.*, ROWNUM rnum FROM (
            SELECT
                t.task_id AS taskId, 
                t.project_id AS projectId, 
                p.project_title AS projectTitle,
                tt.type_name AS typeName, 
                cc.default_describe AS defaultDescribe, 
                t.priority AS priority,
                t.task_title AS taskTitle, 
                t.task_progress AS taskProgress, 
                u.user_name AS taskManager, 
                t.created_at AS createdAt, 
                t.finish_date AS finishDate
            FROM task t
            INNER JOIN project p ON t.project_id = p.project_id
            INNER JOIN task_types tt ON t.type_id = tt.type_id
            INNER JOIN common_code cc ON t.task_status = cc.common_id
            LEFT JOIN users u ON t.task_manager = u.user_code
            
            <include refid="myTaskConditions" /> 
            
            ORDER BY t.created_at DESC
        ) a 
        WHERE ROWNUM &lt;= (#{offset} + #{limit})
    ) 
    WHERE rnum &gt; #{offset}
</select>
<!-- 여러 검색 조건에 대한 전체 일감 총 개수 -->
<select id="countAllList" resultType="int" parameterType="map">
    SELECT COUNT(*) 
    FROM task t
    <include refid="myTaskConditions" />
</select>

</mapper>