<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:replace="~{common/layouts/default_layout :: layout(~{::section}, ~{::head})}">
<head>
    <title>WEPLE - 공통 관리</title>
    <link rel="stylesheet" th:href="@{/css/calendar/calendar.css}">
</head>
<body>

<section>
    <input type="hidden" id="hiddenProjectId" th:value="${projectId}" />
    
    <div class="calendar-wrapper">
      <div class="custom-calendar-header">
      <div class="header-left-group">
      <div class="header-box">
      <span class="box-title">보기 방식</span>
      <div class="button-group">
        <button class="view-btn active" data-view="dayGridMonth">월</button>
        <button class="view-btn" data-view="timeGridWeek">주</button>
        <button class="view-btn" data-view="timeGridDay">일</button>
      </div>
    </div>
      <div class="header-box">
  <span class="box-title">기간 이동</span>
  <div class="nav-group">
    <button class="nav-btn prev-btn">&lt;</button>
    <button class="nav-btn next-btn">&gt;</button>
    <button class="today-btn">오늘</button>
  </div>
</div>
</div>
      <div id="calendar-center-title"></div>
      
         <div class="header-box filter-box">
          <span class="box-title">일정 유형 필터</span>
          <div class="filter-group">
            <label class="filter-item"><input type="checkbox" value="PROJECT_ALL" checked /><span class="badge badge-purple">● 전체</span></label>
            <label class="filter-item"><input type="checkbox" value="MY_TASK"  /><span class="badge badge-orange">● 내일감</span></label>
            <label class="filter-item"><input type="checkbox" value="MILESTONE"  /><span class="badge badge-blue">● 마일스톤</span></label>
          </div>
        </div>
      </div>

      <div id="calendar"></div>
    </div>
    
    
    
    <div id="customMoreModal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3); z-index: 1050; justify-content: center; align-items: center;">
    <div style="background: #fff; width: 450px; border-radius: 8px; padding: 20px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
        
        <!-- 모달 헤더 -->
        <div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 15px;">
            <h5 id="customMoreModalDate" style="margin: 0; font-size: 16px; font-weight: bold;"></h5>
            <button type="button" id="customMoreModalClose" style="background: none; border: none; font-size: 18px; cursor: pointer;">X</button>
        </div>
        
        <!-- 모달 바디 (리스트) -->
        <ul id="customMoreModalList" style="list-style: none; padding: 0; margin: 0; max-height: 300px; overflow-y: auto;">
        </ul>
        
    </div>
</div>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
    <script th:src="@{/js/calendar/calendar.js}"></script>
</section>

</body>
</html>