<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weple.cloud.system.mapper.CodeValueMapper">
	<!--  코드값 전체 조회 -->
	<select id="selectCodeValueAll" resultType="CodeValueVO">
		SELECT w.task_classification_id
       		   , w.company_id
       		   , w.work_name           AS work_name
       		   , NULL                  AS priority_name
       		   , w.default_yn
       		   , w.using_yn
		FROM work_classification w
		JOIN companies c ON c.company_id = w.company_id
		UNION ALL
		SELECT t.task_priority_id
       		   , t.company_id
       		   , NULL                  AS work_name
       		   , t.priority_name       AS priority_name
       		   , t.default_yn
       		   , t.using_yn
		FROM task_priority t
		JOIN companies c ON c.company_id = t.company_id
		ORDER BY 1
	</select>
	
	<!-- 코드값 등록 -->
	
	
	<!-- 코드값 수정 -->
	
</mapper>