<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weple.cloud.system.mapper.GroupUserMapper">
	<!--/* 그룹 내 사용자 */ -->
	<!--/* 전체조회 */ -->
	<select id="selectGroupUserAll" resultType="SystemGroupUserVO">
		SELECT u.user_code
			   , u.company_id
		       , u.login_id
			   , u.password
			   , u.user_name
			   , u.email
			   , u.phone_number
			   , u.create_date
			   , u.status
			   , u.profile_image
			   , u.owner_yn
			   , u.admin_yn
			   , u.web_notification_yn
			   , u.email_notification_yn
			   , u.notification_area
			   , u.last_login_time
			   , g.group_id
			   , r.role_id
			   ,r.role_name
		FROM users u
		LEFT JOIN groups g ON u.group_id = g.group_id
		LEFT JOIN roles r ON r.company_id = u.company_id
		AND (
				(u.admin_yn = 1
				 AND r.role_id = 1
			 )
		OR (
			NVL(u.admin_yn, 0) = 0 AND r.role_id = 2)
		   )
		ORDER
		BY u.user_code ASC
	</select>

	<!--/* 등록 : 상황에 따라 신규 등록을 할지 기존 데이터 업데이트를 할지 결정*/ -->
	<insert id="insertGroupUser" parameterType="SystemGroupUserVO">
		MERGE INTO users u
    	USING DUAL
       		ON (u.user_code = #{userCode})
    	WHEN MATCHED THEN
        	UPDATE SET 
            	u.group_id = #{groupId}
    	WHEN NOT MATCHED THEN
        	INSERT (
            		user_code
            		, group_id
        		    )
        	VALUES (
            		#{userCode}
            		, #{groupId}
        			)
	</insert>

	<!--/* 수정 : 기존 소속 정보를 확실하게 지우고, 필요하면 새 그룹으로 강제 설정*/ -->
	<update id="updateGroupUser" parameterType="SystemGroupUserVO">
		DECLARE
		BEGIN
			UPDATE users
			SET group_id = NULL
			WHERE user_code = #{userCode};

			<if test="groupId != null and groupId != 0">
				UPDATE users
				SET group_id = #{groupId}
				WHERE user_code = #{userCode};
			</if>
		END;
	</update>

	<!--/* 그룹 내 사용자 삭제 (디비에서 삭제안되게 하려고 UPDATE로 처리) */ -->
	<update id="deleteGroupUser" parameterType="string">
		UPDATE users
		SET group_id = NULL
		WHERE login_id = #{userCode}
	</update>
</mapper>