<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weple.cloud.system.mapper.SystemModuleMapper">
	 <select id="findModuleAll" resultType="SystemModuleVO">
	    SELECT common_id
	           , common_code
	           , default_describe
	    FROM common_code
	    WHERE common_code = '0B'
	    ORDER BY common_id
	</select>
    
    <!-- 회사가 이미 노출 설정해둔 모듈 코드 목록 -->
    <select id="findEnabledModuleCodes" parameterType="Long" resultType="String">
	    SELECT module_name
	    FROM modules
	    WHERE company_id = #{companyId}
	</select>

    <delete id="deleteModulesByCompany" parameterType="Long">
        DELETE FROM modules
        WHERE company_id = #{companyId}
    </delete>

    <insert id="insertModule">
        INSERT INTO modules (module_id, module_name, company_id)
        VALUES (#{moduleId}, #{moduleName}, #{companyId})
    </insert>
    
    <select id="findTaskTypeAll" parameterType="Long" resultType="TaskTypeVO">
	    SELECT type_id, type_name, task_type_describe
	    FROM task_types
	    WHERE company_id = #{companyId}
	</select>

	<!-- 회사가 새 프로젝트에 기본 포함하기로 저장해둔 일감유형 ID 목록 -->
	<select id="findEnabledTaskTypeIds" parameterType="Long" resultType="String">
	    SELECT type_id
	    FROM project_manage_setting
	    WHERE company_id = #{companyId}
	</select>

	<delete id="deleteTaskTypesByCompany" parameterType="Long">
	    DELETE FROM project_manage_setting
	    WHERE company_id = #{companyId}
	</delete>

	<insert id="insertTaskType">
	    <selectKey resultType="Long" keyProperty="projectManageId" order="BEFORE">
	        SELECT NVL(MAX(project_manage_id), 0) + 1 FROM project_manage_setting
	    </selectKey>
	    INSERT INTO project_manage_setting (project_manage_id, company_id, type_id)
	    VALUES (#{projectManageId}, #{companyId}, #{typeName})
	</insert>
	
</mapper>